.categorySetting-wrap {
  padding: 120px;
  .category-header {
    display: flex;
    margin-bottom: 40px;
    h1 {
      font-size: 24px;
      margin-bottom: 40px;
      margin-right: 100px;
    }
    .category-button {
      .btn {
        margin-right: 40px;
      }
    }
  }
}
