.restaurants-page {
  &__filters {
    display: flex;
    align-items: center;
    gap: $gap-2;
    .search-btn {
      padding: $padding-1;
      border: 1px solid $borderColor;
      border-radius: $border-radius-2;
      @include flex-center;
    }
    .filters__list {
      font-size: 14px;
      display: flex;
      gap: $gap-5;
    }
    .filters__item {
      display: flex;
      padding: 12px;
      position: relative;
      // background-color: orange;
      &::after {
        position: absolute;
        // content: "|";
        color: $borderColor;
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}

.background-color {
  background-color: #fff;
  border-bottom: 1px solid $borderColor;
  box-shadow: $shadow-2;
  z-index: -1;
}
