.footer {
  margin-bottom: 40px;
}

.footer__menu {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  margin-bottom: 30px;
}

.footer__wrap {
  display: flex;
  gap: 10px;
}

.company-info__text {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  p {
    margin-right: 10px;
  }
}

.service-info {
  display: flex;
  font-size: 0.8rem;
}

.footer__menu__list {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.footer__menu__item {
  a {
    position: relative;
    padding: 15px;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 12px;
      background-color: rgba($color: #000000, $alpha: 0.2);
      top: 0;
      bottom: 0;
      right: -1px;
      margin: auto;
    }
  }
}

.footer__menu__item:last-child a::before {
  width: 0;
}

.footer__logo {
  width: 100px;
  height: 100%;
  opacity: 0.5;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guide {
  font-size: 0.8rem;
}
