.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $white;
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
  .inner {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
  }
}

.nav__list {
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
