.sidebar-right-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.sidebar-right-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-right {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sidebar-right.open {
  transform: translateX(0);
}

.nav__item {
  padding: 10px 0;
}

.nav__item div {
  display: flex;
  align-items: center;
}

// 출력 리스트 수정

.sidebar-right {
  .restaurants-page__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .restaurant-item {
    display: flex;
    gap: 8px;
    background-color: #ececec;
  }
  .img-cover {
    width: 60px;
    height: 60px;
  }
}

.버튼그룹 {
  font-size: 12px;
  display: flex;
  gap: 12px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
}

.add-menu-button {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #00c4bd;
  border-radius: 5px;
  color: #00c4bd;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.add-menu-button:hover {
  background-color: #00c4bd;
  color: #ffffff;
}
