.join-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;

  & h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #333;
    text-align: center;
    letter-spacing: 1.2px;
  }
}

.join-top {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  font-size: 24px;
  color: white;
  text-align: center;
}

.join-button {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  & a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: 2px solid #dbdbdb;
    box-shadow: $shadow-1;
    cursor: pointer;
    border-radius: 8px;
    min-width: 180px;
    max-width: 550px;
    padding: 20px 0;
  }

  & p {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    color: #333;
    text-align: center;
    letter-spacing: 0.8px;
  }

  & h3 {
    text-align: center;
  }
}
.join-user-img {
  width: 100%;
  height: 15vh;
  display: flex;

  background-image: url("../../../public/images/woman-8671666_640.png");
  background-repeat: no-repeat; /* 이 속성은 이미지를 반복하지 않도록 합니다 */
  background-position: center;
  background-size: contain;
}

.join-ceo-img {
  width: 100%;

  height: 15vh;
  display: flex;
  background-image: url("../../../public/images/man-8677824_640.png");
  background-repeat: no-repeat; /* 이 속성은 이미지를 반복하지 않도록 합니다 */
  background-position: center;
  background-size: contain;
}

.line {
  display: flex;
}

@include tablet {
  .join-button {
    flex-direction: column;
  }
}
