.user-join-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 52px 0px;

  & h2 {
    margin-top: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #333;
  }

  & h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #333;
  }
  & h6 {
    cursor: pointer;
  }

  & span {
    width: 100%;
  }

  .btn {
    width: 120px;
  }
}

.user-join-form {
  width: 575px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & div {
    width: 100%;
    display: flex;
    gap: 20px;
  }
}

.checkbox-group {
  & label {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  & input {
    cursor: pointer;
  }
}

.image-preview {
  width: 80px !important;
  height: 80px;
  margin-top: 20px;
}

.join-button {
  width: 100%;
  display: flex;
}

.id-check {
  width: 100px !important;
  height: 60px;
  background: #5e5e5e;
  color: #fff;
  border-radius: 4px;
  padding: 0 8px;
}

@include tablet {
  .user-join-form {
    width: 100%;
    padding: 0 40px;
  }
}
