.react-modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container-color);
  border-radius: 4px;
  outline: none;
  color: #fff;
  animation: slide-top 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translate(-50%, -50%) translateY(20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  width: 500px;
  height: 500px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.modal__tabs {
  display: flex;
  margin-bottom: 20px;

  .tab-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    text-align: center;

    &.active {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.modal__search {
  margin-bottom: 20px;
}

.modal__addresses {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  height: 100%;
  overflow-y: auto;
  color: #333;
}

.modal__content-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
