.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 4px;
  outline: none;
  color: #fff;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

/* 콘텐츠 내용 */

.modal__content {
  display: flex;
  gap: 20px;
}
