.to-top {
  width: 2.625rem;
  height: 2.625rem;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  z-index: 9;
  box-shadow: $shadow-1;
}
