.home-page {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section-carousel:nth-of-type(2n) {
  position: relative;
  padding: 30px 0;
  border-radius: 8px;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 200%;
    left: -50%;
    height: 100%;
    background-color: rgba($color: $gray-200, $alpha: 0.2);
    z-index: -1;
  }
}

.section__title {
  margin-bottom: 10px;
}
