.social-login {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & div {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
  }
}
.auto-user {
  flex-direction: row;
}

.social-login-kakao {
  background: #fee500;
}

.social-login-naver {
  background: #2db400;
}

.social-login-google {
  background: #fff;
}
