.mypage-wrap {
  display: flex;
  gap: 20px;
}

.mypage-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;

  & button {
    text-align: center;
    padding: 15px 30px;
    border: 1px solid #d9d9d9;
  }
}

.mypage-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
  gap: 30px;
}

.mypage-title {
  display: flex;
  height: 62px;
  padding: 20px 504px 20px 20px;
  align-items: center;
  gap: 50px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.mypage-title-box {
  width: 70px;
  border-right: 1px solid #d9d9d9;
}
