// 결제하기
.payment-page {
  display: flex;
  gap: 12px;
  &__section {
    width: 65%;
  }

  &__title {
    font-size: 16px;
    color: $white;
    background-color: $black;
    padding: 10px;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 0.875rem;
    background-color: #e6e6e6;
    padding: 10px;
  }

  &__delivery-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    div {
      display: flex;
      padding: 0 10px;
      label {
        width: 140px;
        font-weight: 500;
        font-size: 0.875rem;
      }
      input {
        font-size: 0.875rem;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #cbd5e1;
      }
    }
  }

  &__request {
    padding: 10px;
    width: 100%;
    textarea {
      width: 100%;
      max-height: 500px;
      padding: 10px;
      border: 1px solid #cbd5e1;
      resize: none;
      font-size: 14px;
    }
  }
  &__payment-method {
    display: flex;
    padding: 16px 10px;
    flex-direction: column;
    gap: 12px;
  }
  &__mobile-payment,
  &__onsite-payment {
    display: flex;
    gap: 12px;
  }
  &__button {
    width: 50%;
  }

  &__coupon {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    label {
      width: 140px;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__coupon-wrap {
    display: flex;
    gap: 10px;
    width: 100%;
    input {
      width: 100%;
      border: 1px solid #cbd5e1;
    }
  }
}

// 주문내역
.payment-page {
  &__order-summary {
    width: 35%;
    border-radius: 4px;
    ul {
      border-bottom: 1px solid #cbd5e1;
    }
  }

  &__restaurant-name {
    padding: 10px;
    font-size: 0.875rem;
    border-bottom: 1px solid #cbd5e1;
  }

  &__order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    // border-bottom: 1px solid #cbd5e1;
    // background-color: orange;
    p {
      font-size: 14px;
    }
  }

  &__total-amount {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__terms {
    padding: 10px 0;
    line-height: 1.8;
    span {
      text-decoration: underline;
    }
  }
  &__button {
    width: 100%;
    padding: 10px;

    border: 1px solid #cbd5e1;
  }
}

.payment-page__warp-border {
  border-bottom: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}
