.restaurants-page {
  .filters {
    display: flex;
    justify-content: flex-end;
  }
  .filters__select {
    min-width: 100px;
    width: 20%;
    padding: $padding-1 $padding-2;
    border: 1px solid $borderColor;
    font-size: 14px;
    background-color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap-2;

    .restaurant-item {
      display: flex;
      align-items: center;
      gap: $gap-2;
      padding: $padding-2;
      border: 1px solid $borderColor;
      border-radius: $border-radius-1;
      width: 100%;
      max-width: calc(50% - ($gap-2/2));

      &__image {
        width: 80px;
        border-radius: $border-radius-1;
      }
      &__title {
        padding: $padding-1 0;
      }
      &__rank-point {
        display: flex;
        p {
          font-size: 12px;
          &::after {
            content: "|";
            padding: 6px;
            color: $borderColor;
          }
        }
      }
    }
  }
}

.rank-point {
  display: flex;
  align-items: center;
  gap: $gap-1;
  svg {
    font-size: 12px;
    color: #ffcc00; // Adjust color as needed
  }
}

.restaurants-page__title {
  padding: $padding-2 0;
}

@include tablet {
  .restaurants-page__list {
    flex-direction: column;
  }

  .restaurants-page__list .restaurant-item {
    max-width: 100%;
  }
}
