.restaurants-page {
  .filters {
    display: flex;
    justify-content: flex-end;
  }
  .filters__select {
    width: 20%;
    padding: 5px 10px;
    border: 1px solid $borderColor;
    font-size: 0.875rem;
  }

  &__title {
    font-weight: 500;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .restaurant-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: 4px;
      width: 100%;
      max-width: calc(50% - 5px);

      &__image {
        width: 80px;
        border-radius: 4px;
      }
      &__title {
        font-weight: 500;
        padding: 4px 0;
      }
      &__rank-point {
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.rank-point {
  display: flex;
  align-items: center;
  gap: 4px;
  svg {
    color: #ffcc00; // Adjust color as needed
  }
}

.restaurant-item__rank-point {
  display: flex;
  font-size: 0.8rem;
  gap: 8px;
}

.restaurants-page__list {
  gap: 10px;
}

.restaurants-page__title {
  margin: 10px 0;
  font-size: 0.9rem;
}

@include tablet {
  .restaurants-page__list {
    flex-direction: column;
  }

  .restaurants-page__list .restaurant-item {
    max-width: 100%;
  }
}
