// 프로젝트 전반에서 사용되는 변수를 정의합니다.

// 기본 색상
$black: #333;
$white: #fff;
$borderColor: #dbdbdb;
$gray: #e6e6e6;

// 두께
$regular: 400;
$medium: 500;
$bold: 700;

// border-radius
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 12px;
$border-radius-4: 16px;

// 정리 중..
/** 

- 프라이머리 컬러


배경 색
그림자

## letterSpacing

## transition


*/
