// 프로젝트 전반에서 사용되는 변수를 정의합니다.

// Break Point
$desktop: 1400px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

// layout
$header-height: 80px;

// border-radius
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 12px;
$border-radius-4: 16px;
