.restaurant-detail-page {
  .carousel {
    // 케러셀 스타일
    padding: 8px 16px;
    border-bottom: 1px solid $borderColor;
    &__item {
      background-color: #fff;
      border: 1px solid $borderColor;
    }
    &__image {
      height: 140px;
      border-radius: 0;
    }
    &__top {
      padding: 0;
    }
    &__title {
    }
    &__price {
      font-size: 12px;
      // padding: 4px 8px;
    }
    &__text {
      padding: 8px;
    }
  }
}
