.menu-management {
  .menu-settings {
    .settings-header {
      font-size: 2em;
      padding: 40px 80px;
    }

    .settings-body {
      margin: 0px 80px;
      .menu-upper {
        .menu-add {
          display: flex;
          justify-content: center;
          padding: 8px; // 내부 여백
          cursor: pointer;
        }
      }
    }
  }
  .menu-section {
    margin: 40px 80px;
    .menu-tap {
      border: -1px solid $borderColor;
      background-color: $black;
      color: $white;
      padding: 12px;
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      border: 1px solid $borderColor;

      .menu-list-oneMenu {
        border-bottom: 1px solid $borderColor;
        padding: 10px;
        &:last-child {
          border-bottom: none;
          border-radius: 0px 0px 4px 4px;
        }

        .menu-list-oneMenu-table {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .picanddata {
            display: flex;

            .menu-list-status {
              display: flex;
            }

            .menu-list-oneMenu-tableData {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .menu-list-price {
                font-size: 12px;
              }
              .menu-list-content {
                color: $textGray;
              }
            }

            .menu-list-oneMenu-tablePic {
              width: 100px;
            }
          }
          .status-action {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .settings-header {
    font-size: 2em;
    color: #333;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
  }
  .menu-section {
    margin: 0px 0px 100px !important;
  }
}
