.ceo-review-wrap {
  @media (max-width: 760px) {
  }
  .review-tap {
    font-size: 2em;
    color: #333;
    padding: 40px 80px;
  }
  .review-content {
    border: 1px solid #ccc;
    margin: 0px 80px 80px;
    border-radius: 5px;
    padding: 20px;
    .rating-section {
      display: flex;
      justify-content: center;
    }
    .review-section {
      display: flex;
      justify-content: center;
      .rating-section {
        display: flex;
        justify-content: center;
      }
      .filter-buttons {
        display: flex;

        gap: 10px;
        padding: 20px 20px;
      }
    }
    .reviews {
      display: flex;
      justify-content: center;
      .reviews-wrap {
        img {
          width: 40%;
        }
        .review {
          display: flex;
          padding: 20px;
          .review-header {
            display: flex;
            flex-direction: column;
            padding-right: 20px;
          }
        }
      }
    }
  }
}

.textarea-custom {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  min-height: 100px;
  max-height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
}

.ceo-reply {
  margin-top: 10px;

  .ceo-reply-header {
    margin-bottom: 5px;
    font-size: 12px;
    color: #888;
  }

  textarea {
    margin-bottom: 10px;
  }
}

@media (max-width: 760px) {
  .review-tap {
    font-size: 2em;
    color: #333;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
  }
  .review-content {
    margin: 0px 0px 100px !important;
  }
}
